services:
  app:
    build:
      context: .
      dockerfile: ./infra/docker/php/Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
        - ENV=${ENV:-local}
      target: ${ENV:-local}
    volumes:
      - type: bind
        source: ./src
        target: /app
    environment:
      - SERVER_NAME=:80
      - CADDY_GLOBAL_OPTIONS=auto_https off
      - OCTANE_SERVER=frankenphp
      - SUPERVISOR_PHP_COMMAND=/usr/bin/php -d variables_order=EGPCS /app/artisan octane:start --server=frankenphp --host=0.0.0.0 --port=80
    networks:
      - default
      - dev-container
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      - "traefik.http.routers.${SERVICE_NAME}.rule=Host(`${APP_HOST}`)"
      - "traefik.http.routers.${SERVICE_NAME}.tls=true"
      - "traefik.http.routers.${SERVICE_NAME}.tls.certresolver=zerossl"
      - "traefik.http.services.${SERVICE_NAME}.loadbalancer.server.port=80"

networks:
  web:
    external: true
  dev-container:
    external: true

